.text-case a {
    text-transform: uppercase;
    position: relative;
    color: black;
    transition: all 0.3s ease;
}

.text-case a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

.text-case a:hover {
    color: red;
}

.text-case a:hover::after {
    width: 100%;
}