.footer {
  background-color: #4a4a4a;
  color: #fff;
  padding: 20px 40px;
  font-size: 14px;
  margin-top: 150px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  gap: 20px;
  align-items: flex-start;
}

.footer-logo h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #fff;
}

.footer-logo span {
  color: red; 
}
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.footer-top a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.footer-top a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-logo img {
    height: 50px;
  }

  .footer-contact {
    display: none;
  }

  .footer-location {
    display: none;
  }

  .footer-top {
    display: none;
  }

  .footer-links {
    justify-content: right;
  }
  
  .footer-links {
    display: none;
  }

  .footer-logo {
    display: flex;
  }

  .footer-logo p {
    width: 400px;
    text-align: center;
    margin-top: 10px;
  }
}