.container {
  max-width: 1500px;  /* limite de largura */
  width: 100%;        /* ocupa até 100% até chegar no limite */
  margin: 0 auto;     /* centraliza o container */
  padding: 0 20px;    /* opcional, dá espaçamento nas laterais */
  display: flex;      /* se quiser alinhar logo, search e menu lado a lado */
  align-items: center;
  justify-content: space-between;
}

.navbar-list2 {
    display: flex;
    gap: 49px;
}

.navbar-list2 a {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    color: black;
    transition: all 0.3s ease;
}

.navbar-list2 a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

.navbar-list2 a:hover {
    color: red;
}

.navbar-list2 a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .container ul {
    flex-direction: column;   /* itens em coluna */
    align-items: center;      /* centraliza os itens */
    justify-content: center;  /* garante centralização vertical se precisar */
    gap: 12px;
    padding: 0;
    margin: 0 auto;
    text-align: center;       /* centraliza textos dentro dos <a> */
  }

  .container ul li a {
    font-size: 16px;
    display: block;           /* garante que o link ocupe largura do item */
  }
}